@charset 'utf-8';

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular.eot');
  src: url('../fonts/hack-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hack-regular.woff2') format('woff2'),
       url('../fonts/hack-regular.woff') format('woff'),
       url('../fonts/hack-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$base-font: 'Hack', Arial, sans-serif;
$main-colour: #1572b6;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: $base-font;
  height: 100%;
  text-align: center;
}

p {
  font-size: 2em;
}

a {
  color: $main-colour;
  text-decoration: none;
  transition: transform 300ms;
  word-wrap: break-word;

  &:hover {
    text-decoration: underline;
    transform: scale(1.2);
  }
}

section[id^=slide]:target ~ #start {
  display: none;
}

[id^=slide] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  padding: 1em;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 0;
  transition: transform 1s, opacity 0.8s;
  width: 100%;
  z-index: 0;
}

[id^=slide]:target {
  transform: rotate(0deg);
  z-index: 1;
}

[id^=slide]:target ~ [id^=slide] {
  opacity: 0;
  transform: rotate(-90deg);
}

.o-wrapper {
  width: 100%;
}

.c-logo-main {
  height: 60vh;
  min-height: 10em;
}

.c-logo-small {
  height: 25vh;
  min-height: 5em;
}
